<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Aluminum
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #C1F2B0;">
    <ion-card-header>

      

      <ion-row>
        <ion-col size="3">1</ion-col>
        <ion-col size="9" style="text-align: right;">26.9815384</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
        <ion-row>
          <ion-col size="3">
            <strong>&nbsp;&nbsp;Al</strong>
          </ion-col>
        </ion-row>
      </ion-card-title>
  
    <ion-card-content>
      [Ne]3s²3p¹ <br> Aluminum <br> Post-Transition Metal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Aluminium is a silvery-white, lightweight metal. It is soft and malleable. Aluminium is used in a huge variety of products including cans, foils, kitchen utensils, window frames, beer kegs and aeroplane parts. This is because of its particular properties.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 13</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 184 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 26.981539 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Al</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 13</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ne]3s²3p¹</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 13</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 13</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 14</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 660.3 °C<br>
        <b>Boiling Point:</b> 2792 K<br>
        <b>Density:</b> 2.7 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +3<br>
         <b>Specific Heat: </b> 0.89J/g °C<br>
         <b>Electronegativity:</b> 1.61 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 376 J/g<br>
         <b>Heat of Vaporization:</b> 11,370 J/g<br>
        </p> 
     </ion-card-content>

</ion-content>



