<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Titanium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">22</ion-col>
        <ion-col size="9" style="text-align: right;">47.867</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Ti</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d²4s² <br> Titanium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Titanium is a chemical element; it has symbol Ti and atomic number 22. Found in nature only as an oxide, it can be reduced to produce a lustrous transition metal with a silver color, low density, and high strength, resistant to corrosion in sea water, aqua regia, and chlorine. 
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 22</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 147 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 47.867</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Ti</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d²4s² </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 22</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 22</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons [in most abundant or naturally occurring isotope]:</b> 26</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 5</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1670 °C = 3038 °F = 1943 K<br>
        <b>Boiling Point:</b> 3287 °C = 5949 °F = 3560 K<br>
        <b>Density:</b> 4.506 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> 4, 3, 2<br>
         <b>Specific Heat: </b> 520 J/kg*K<br>
         <b>Electronegativity:</b> 1.54 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 18.7 kJ/mol<br>
         <b>Heat of Vaporization:</b> 425 kJ/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



