<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Scandium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">21</ion-col>
        <ion-col size="9" style="text-align: right;">44.955908</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Sc</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d¹4s² <br> Scandium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Scandium is a chemical element; it has symbol Sc and atomic number 21. It is a silvery-white metallic d-block element. Historically, it has been classified as a rare-earth element, together with yttrium and the lanthanides.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 21</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 162 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 44.96</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Sc</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d¹4s² </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 21</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 21</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons [in most abundant or naturally occurring isotope]:</b> ~ 45</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 1 stable isotopes</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1541°C.<br>
        <b>Boiling Point:</b> 2836°C.<br>
        <b>Density:</b> 99 g cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +1, +2, +3<br>
         <b>Specific Heat: </b> 0.6 J g-1K-1<br>
         <b>Electronegativity:</b> 1.36 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 14.1 kj mol¹<br>
         <b>Heat of Vaporization:</b>332.7 kj mol¹<br>
        </p> 
     </ion-card-content>

</ion-content>



