<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Selenium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #FFF5C2;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">34</ion-col>
        <ion-col size="9" style="text-align: right;">78.971</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Se</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d¹⁰4s²4p⁴<br> Selenium <br> Nonmetal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Selenium is a chemical element; it has symbol Se and atomic number 34. It is a nonmetal with properties that are intermediate between the elements above and below in the periodic table, sulfur and tellurium, and also has similarities to arsenic.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 34</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 120 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 78.09</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Se</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 16 (chalcogens)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d¹⁰4s²4p⁴</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 34</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 34</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 45</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 7</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 494 K (221 C)<br>
        <b>Boiling Point:</b> 958 K (685 C)<br>
        <b>Density:</b> Gray: 4.81 g/cm3<br>
        Red: 4.39 g/cm³<br>
        Black: 4.28 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
        </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> -2, -1, +1, +2, +3, +4, +5, +6<br>
         <b>Specific Heat: </b> 320 J/(kg K)<br>
         <b>Electronegativity:</b> 2.55<br>
         <b>Heat of Fusion:</b> 6.69 kJ/mol<br>
         <b>Heat of Vaporization:</b> 95.48 kJ/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



