<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ruthenium 
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">44</ion-col>
        <ion-col size="9" style="text-align: right;"> 101.07</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Ru</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d⁷5s¹ <br> Ruthenium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Ruthenium is a chemical element; it has symbol Ru and atomic number 44. It is a rare transition metal belonging to the platinum group of the periodic table. Like the other metals of the platinum group, ruthenium is inert to most other chemicals. 
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 44</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 134 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 101.07 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Ru</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 8</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d⁷5s¹ </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 44</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 44</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 57</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 7</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 2334°C<br>
        <b>Boiling Point:</b> 4150°C<br>
        <b>Density:</b> 12.45 g cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b>	-4, -2, 1, 2, 3, 4, 5, 6, 7, 8<br>
        <b>Specific Heat: </b> 238 J/(kg K)<br>
        <b>Electronegativity:</b> 2.2 (Pauling scale)<br>
        <b>Heat of Fusion:</b> 38.59 kJ/mol<br>
        <b>Heat of Vaporization:</b> 619 kJ/mol<br>
       </p> 
     </ion-card-content>

</ion-content>



