<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cadmium 
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>


      <ion-row>
        <ion-col size="3">48</ion-col>
        <ion-col size="9" style="text-align: right;"> 112.414</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Cd</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d¹⁰5s² <br> Cadmium  <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Cadmium is a chemical element; it has symbol Cd and atomic number 48. This soft, silvery-white metal is chemically similar to the two other stable metals in group 12, zinc and mercury.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 48</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 151 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 112.411 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Cd</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 12</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d¹⁰5s²</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 48</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 48</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons: </b> 64 </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 8</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 321.07 °C<br>
        <b>Boiling Point:</b> 767 °C<br>
        <b>Density:</b> 10.5 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> 2, 2, -2<br>
        <b>Specific Heat: </b> 0.232 J/g°C<br>
        <b>Electronegativity:</b> 1.69 (Pauling scale)<br>
        <b>Heat of Fusion:</b> 6.21 kJ/mol<br>
        <b>Heat of Vaporization:</b> 99.87 kJ/mol<br>
      </p> 
     </ion-card-content>

</ion-content>



