<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Vanadium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">23</ion-col>
        <ion-col size="9" style="text-align: right;">50.9415</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;V</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d³4s² <br> Titanium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Vanadium is a chemical element; it has symbol V and atomic number 23. It is a hard, silvery-grey, malleable transition metal. The elemental metal is rarely found in nature, but once isolated artificially, the formation of an oxide layer somewhat stabilizes the free metal against further oxidation.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 23</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 0.134 nm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 50.9415 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> V</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d³4s² </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 23</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 23</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 28</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 51</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1,910 °C<br>
        <b>Boiling Point:</b> 3,407 °C<br>
        <b>Density:</b> 6.0 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +2, +3, +4, and +5<br>
         <b>Specific Heat: </b> 0.49 J/g K<br>
         <b>Electronegativity:</b> 1.63<br>
         <b>Heat of Fusion:</b> 20.9 kJ/mol<br>
         <b>Heat of Vaporization:</b> 0.452 kJ/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



