<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Silicon
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #79AC78;">
    <ion-card-header>

      <ion-row style="color: #F2F1EB;">
        <ion-col size="3">14</ion-col>
        <ion-col size="9" style="text-align: right;">[28.084, 28.086]</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title style="color: #F2F1EB;">
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Si</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content style="color: #F2F1EB;">
      [Ne]3s²3p² <br> Silicon <br> Metalloid
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Silicon is a chemical element; it has symbol Si and atomic number 14. It is a hard, brittle crystalline solid with a blue-grey metallic luster, and is a tetravalent metalloid and semiconductor. It is a member of group 14 in the periodic table: carbon is above it; and germanium, tin, lead, and flerovium are below it.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 14</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 111 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 085</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Si</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 14</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ne]3s²3p²</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 14</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 14</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 14</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 3</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1687 K (1414°C)<br>
        <b>Boiling Point:</b> 3173 K (2900°C)<br>
        <b>Density:</b> 33 g/cm3<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> -4, +4<br>
         <b>Specific Heat: </b> 710 J/(kg K)<br>
         <b>Electronegativity:</b> 9<br>
         <b>Heat of Fusion:</b> 2 kJ/mol<br>
         <b>Heat of Vaporization:</b> 359 kJ/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



