<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Yttrium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">39</ion-col>
        <ion-col size="9" style="text-align: right;">88.90584</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Y</strong>
        </ion-col> 
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d¹5s² <br> Yttrium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Yttrium is a chemical element; it has symbol Y and atomic number 39. It is a silvery-metallic transition metal chemically similar to the lanthanides and has often been classified as a "rare-earth element".
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 39</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 180 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 88.90584</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Y</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d¹5s² </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 39</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 39</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons :</b> 50</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 1 natural isotope</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1526°C<br>
        <b>Boiling Point:</b> 3338°C<br>
        <b>Density:</b> 472 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +1, +2, +3<br>
         <b>Specific Heat: </b> 0.2 J g⁻¹K⁻¹<br>
         <b>Electronegativity:</b> 1.22 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 17.49 kj mol⁻¹<br>
         <b>Heat of Vaporization:</b>114.1 kj mol⁻¹<br>
        </p> 
     </ion-card-content>

</ion-content>



