<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Niobium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">41</ion-col>
        <ion-col size="9" style="text-align: right;">92.906</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Nb</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d⁴5s¹<br> Zirconium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Niobium is a chemical element; it has symbol Nb and atomic number 41. It is a light grey, crystalline, and ductile transition metal. Pure niobium has a Mohs hardness rating similar to pure titanium, and it has similar ductility to iron.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 41</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 146 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 92.90638 u </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Nb</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d⁴5s¹</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 41</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 41</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons :</b> 52</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 1</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 2477 °C<br>
        <b>Boiling Point:</b> 4744 °C<br>
        <b>Density:</b> 8.57 g/cm<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> 5, 4, 3, 2, 1, -1, -3<br>
         <b>Specific Heat: </b> 265 J/(kg K)<br>
         <b>Electronegativity:</b> 1.6 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 30 kj/mol<br>
         <b>Heat of Vaporization:</b> 689.9 kj/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



