<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hydrogen
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #FFF5C2;">
    <ion-card-header>

      

      <ion-row>
        <ion-col size="3">1</ion-col>
        <ion-col size="9" style="text-align: right;">[1.00784, 1.00811]</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;H</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      1s¹ <br> Hydrogen <br> Nonmetal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Hydrogen is a chemical element; it has symbol H and atomic number 1. It is the lightest element and, at standard conditions, is a gas of diatomic molecules with the formula H₂. It is colorless, odorless, tasteless, non-toxic, and highly combustible.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 53 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 1.008</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> H</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> 1s¹</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons [in most abundant or naturally occurring isotope]:</b> 0</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 3</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> -259.2 °C = -434.5 °F = 14.0 K<br>
        <b>Boiling Point:</b> -252.9 °C = -423.2 °F = 20.3 K<br>
        <b>Density:</b> 8.2 x 10-5 g cm-3<br>
        <b>Phase at Room Temperature:</b> Gas<br>
        <b>Stable, Naturally Occurring Isotopes:</b> 1H (99.9885%), 2H (0.0115%)</p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> 1, -1<br>
         <b>Specific Heat: </b> 14,300 J/kg*K<br>
         <b>Electronegativity:</b> 2.2 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 0.0587 kJ/mol<br>
         <b>Heat of Vaporization:</b> 0.4494 kJ/mol<br>
         <b>Chemical Stability:</b> N/A</p> 
     </ion-card-content>

</ion-content>



