<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Zinc
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">30</ion-col>
        <ion-col size="9" style="text-align: right;">65.38</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Zn</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d¹⁰4s² <br> Zinc <br> Transition Metal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Zinc is a chemical element; it has symbol Zn and atomic number 30. 
      Zinc is a slightly brittle metal at room temperature and has a shiny-greyish appearance when oxidation is removed.
       It is the first element in group 12 of the periodic table.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 30</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 139 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 65.38 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Zn</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 12</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d¹⁰4s²</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 30</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 30</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 35</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 5</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 419.5 °C<br>
        <b>Boiling Point:</b> 907 °C<br>
        <b>Density:</b> 7.14 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +2<br>
         <b>Specific Heat: </b>  0.387 J⋅g⋅⁻¹K⁻¹<br>
         <b>Electronegativity:</b>  1.65<br>
         <b>Heat of Fusion:</b> 7.322 kJ/mol<br>
         <b>Heat of Vaporization:</b>  115.3 kJ/mol<br>
         
       </p> 
     </ion-card-content>

</ion-content>



