<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chromium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">24</ion-col>
        <ion-col size="9" style="text-align: right;">51.9961</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Cr</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d⁵4s¹ <br> Chromium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Chromium is a chemical element; it has symbol Cr and atomic number 24. It is the first element in group 6. It is a steely-grey, lustrous, hard, and brittle transition metal. Chromium metal is valued for its high corrosion resistance and hardness.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 24</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 128 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 51.9961 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Cr</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d⁵4s¹ </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 24</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 24</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 28</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 4</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1907°C, 3465°F, 2180 K <br>
        <b>Boiling Point:</b> 2671°C, 4840°F, 2944 K <br>
        <b>Density:</b> 7.15 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b>	−4, −2, −1, 0, +1, +2, +3, +4, +5, +6<br>
         <b>Specific Heat: </b> 0.448 J/g°C<br>
         <b>Electronegativity:</b> 1.66<br>
         <b>Heat of Fusion:</b> 21.0 kJ/mol<br>
         <b>Heat of Vaporization:</b> 347 kJ/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



