<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Technetium 
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">43</ion-col>
        <ion-col size="9" style="text-align: right;"> 98</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Tc</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d⁵5s² <br> Technetium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Technetium is a chemical element; it has symbol Tc and atomic number 43. It is the lightest element whose isotopes are all radioactive. All available technetium is produced as a synthetic element. 
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 43</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 136 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 98</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Tc</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 7</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d⁵5s² </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 43</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 43</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 55</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 22</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 2157°C<br>
        <b>Boiling Point:</b> 4265°C<br>
        <b>Density:</b> 11 g cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b>	7, 6, 5, 4, 3, 2, 1, -1, -3<br>
        <b>Specific Heat: </b> 0.21 J/g K<br>
        <b>Electronegativity:</b> 2.16 (Pauling scale)<br>
        <b>Heat of Fusion:</b> 33.29 kJ/mol<br>
        <b>Heat of Vaporization:</b> 585 kJ/mol<br>
       </p> 
     </ion-card-content>

</ion-content>



