<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Rhodium 
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">45</ion-col>
        <ion-col size="9" style="text-align: right;"> 102.91</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Rh</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr] 4d⁸5s¹ <br> Rhodium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Molybdenum is a chemical element; it has symbol Mo and atomic number 42. The name derived from Ancient Greek Μόλυβδος molybdos, meaning lead, since its ores were confused with lead ores. Molybdenum minerals have been known throughout history, but the element was discovered in 1778 by Carl Wilhelm Scheele.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 45</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 134 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 102.91</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Rh</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 9</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d⁸5s¹ </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 45</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 45</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b>  ~ 57</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 1 stable isotope</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1963°C<br>
        <b>Boiling Point:</b> 3695°C<br>
        <b>Density:</b> 4 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b>	0, +1, +2, +3, +4, +5, +6<br>
        <b>Specific Heat: </b> 0.242 J g⁻¹K⁻¹<br>
        <b>Electronegativity:</b> 2.28 (Pauling scale)<br>
        <b>Heat of Fusion:</b> 26.59 kj mol⁻¹<br>
        <b>Heat of Vaporization:</b> 493 kj mol⁻¹<br>
      </p> 
     </ion-card-content>

</ion-content>



