<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Boron
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #79AC78;">
    <ion-card-header>

      

      <ion-row style="color: #F2F1EB;">
        <ion-col size="3">5</ion-col>
        <ion-col size="9" style="text-align: right;">[10.806, 10.821]</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title style="color: #F2F1EB;">
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;B</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content style="color: #F2F1EB;">
      [He]2s²2p¹ <br> Boron <br> Metalloid
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Boron is a chemical element; it has symbol B and atomic number 5. In its crystalline form it is a brittle, dark, lustrous metalloid; in its amorphous form it is a brown powder.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b>  0.098 nm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 10.811 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> B</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 13</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [He]2s²2p¹</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 2</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 2,076 °C<br>
        <b>Boiling Point:</b> 2,550 °C (4,620 °F)<br>
        <b>Density:</b> 2.3 g.cm-3 at 20°C<br>
        <b>Phase at Room Temperature:</b> Solid<br>
        <b>Stable, Naturally Occurring Isotopes:</b> ¹¹B (80.1%) and ¹⁰B (19.9%). </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +3<br>
         <b>Specific Heat: </b> 1030 J/(kg K)<br>
         <b>Electronegativity:</b> 2.04<br>
         <b>Heat of Fusion:</b> 50 kJ/mol<br>
         <b>Heat of Vaporization:</b> 507 kJ/mol<br>
     </ion-card-content>

</ion-content>



