<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Arsenic
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #79AC78;">
    <ion-card-header>

      <ion-row style="color: #F2F1EB;">
        <ion-col size="3">33</ion-col>
        <ion-col size="9" style="text-align: right;">74.92159 u</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title style="color: #F2F1EB;">
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;As</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content style="color: #F2F1EB;">
      [Ar]3d¹⁰4s²4p³ <br> Arsenic<br> Metalloid
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Arsenic is a chemical element; it has symbol As and atomic number 33. Arsenic occurs in many minerals, usually in combination with sulfur and metals, but also as a pure elemental crystal. Arsenic is a metalloid.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 33</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 114 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 92</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> As</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 15</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d¹⁰4s²4p³</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 33</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 33</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 42</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 1</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1090 K (817°C)<br>
        <b>Boiling Point:</b> 887 K (614°C)<br>
        <b>Density:</b> 776 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +5, +3, -3<br>
         <b>Specific Heat: </b> 328 J/(kg K)<br>
         <b>Electronegativity:</b> 18<br>
         <b>Heat of Fusion:</b> 7 kJ/mol<br>
         <b>Heat of Vaporization:</b> 4 kJ/mol<br>
     </ion-card-content>

</ion-content>



