<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Carbon
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #FFF5C2;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">6</ion-col>
        <ion-col size="9" style="text-align: right;">[12.0096, 12.0116]</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;C</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [He]2s²2p² <br> Carbon <br> Nonmetal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Carbon is a chemical element; it has symbol C and atomic number 6. It is nonmetallic and tetravalent—meaning that its atoms are able to form up to four covalent bonds due to its valence shell exhibiting 4 electrons. It belongs to group 14 of the periodic table. Carbon makes up about 0.025 percent of Earth's crust. 
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 170 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 12.011 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> C</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 14</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [He]2s²2p²</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 3</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 3,550 °C (6,420 °F)<br>
        <b>Boiling Point:</b> 4,827 °C (8,721 °F)<br>
        <b>Density:</b> 2.2670 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p>
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p>
         <b>Specific Heat: </b> 0.710 J/g * C<br>
         <b>Electronegativity:</b> 2.55 <br>
         <b>Heat of Fusion:</b> 105 kJ/mol<br>
     </ion-card-content>

</ion-content>



