<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Gallium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #C1F2B0;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">31</ion-col>
        <ion-col size="9" style="text-align: right;">69.723</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Ga</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]4s¹⁰4s²4p¹ <br> Gallium<br> Post-Transition Metal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Gallium is a chemical element; it has symbol Ga and atomic number 31. Discovered by the French chemist Paul-Émile Lecoq de Boisbaudran in 1875, gallium is in group 13 of the periodic table and is similar to the other metals of the group.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 31</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 135 pm</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 69.723 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Ga</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 13</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]4s¹⁰4s²4p¹</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 31</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 31</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 68 (60% abundance), 71 (40% abundance)</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 76 °C<br>
        <b>Boiling Point:</b> 2204 °C<br>
        <b>Density:</b> 91 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> +3, +1<br>
         <b>Specific Heat: </b>  .37 j g⁻¹ K⁻¹<br>
         <b>Electronegativity:</b> 1.81 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 59 kj mol⁻¹<br>
         <b>Heat of Vaporization:</b> 256 kj mol⁻¹<br>
        </p> 
     </ion-card-content>

</ion-content>



