<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Rubidium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #F1B4BB;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">37</ion-col>
        <ion-col size="9" style="text-align: right;">  85.4678</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Rb</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr] 5s¹ <br> Rubidium <br> Alkali Metal
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Rubidium is a chemical element; it has symbol Rb and atomic number 37. It is a very soft, whitish-grey solid in the alkali metal group, similar to potassium and caesium. Rubidium is the first alkali metal in the group to have a density higher than water.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 37</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 248 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 85.47</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Rb</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr] 5s¹</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 37</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 37</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> ~48</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 2 natural isotopes</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 39.3°C<br>
        <b>Boiling Point:</b> 688°C<br>
        <b>Density:</b> 1.53 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> -1, +1<br>
         <b>Specific Heat: </b> 0.363 J g⁻¹K⁻¹<br>
         <b>Electronegativity:</b> 0.82 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 2.19 kj mol⁻¹<br>
         <b>Heat of Vaporization:</b> 69 kj mol⁻¹<br>
         <b>Electron Configuration:</b>  [Kr] 5s¹</p> 
     </ion-card-content>

</ion-content>



