<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Bromine
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #FFF5C2;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">35</ion-col>
        <ion-col size="9" style="text-align: right;">79.901</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Br</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Ar]3d¹⁰4s²4p⁵<br> Bromine <br> Halogen
    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;">
      Bromine is a chemical element; it has symbol Br and atomic number 35. It is a volatile red-brown liquid at room temperature that evaporates readily to form a similarly coloured vapour. Its properties are intermediate between those of chlorine and iodine.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 35</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 120 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 	79.901 u</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Br</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b>  17</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Ar]3d¹⁰4s²4p⁵</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 35</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 35</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons:</b> 44 (51% abundance), 46 (49% abundance)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 2 naturally occurring</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> -2 °C.<br>
        <b>Boiling Point:</b> 8 °C.<br>
        <b>Density:</b> 1028 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> liquid<br>
        </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> −1, +1, +3, +4, +5, +7<br>
         <b>Specific Heat: </b> .473 j g⁻¹ K⁻¹<br>
         <b>Electronegativity:</b> 2.96 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 571 kj mol⁻¹<br>
         <b>Heat of Vaporization:</b> 96 kj mol-1<br>
        </p> 
     </ion-card-content>

</ion-content>



