/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {
    --ion-background-color: #FBF6EE;  // Background color
    --ion-text-color: #4C3D3D;  // General text color
    --ion-toolbar-background-color: #BBAB8C;  // Toolbar background color
    --ion-header-background-color: #BBAB8C;  // Header background color
    --ion-item-background-color: #FAEED1;  // Item background color
    --ion-card-background-color: #DED0B6;  // Card background color
    --ion-menu-background: #DED0B6;  // Menu background color
  
    --ion-icon-color: #4C3D3D;  // Icon color
  }