<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Zirconium
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">40</ion-col>
        <ion-col size="9" style="text-align: right;">91.224</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Zr</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d²5s²<br> Zirconium <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Zirconium is a chemical element; it has symbol Zr and atomic number 40. The name zirconium is derived from the name of the mineral zircon, the most important source of zirconium. The word is related to Persian zargun. 
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 40</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 186 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 91.224 </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Zr</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d²5s² </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 40</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 40</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons :</b> 51</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 5</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1855 °C<br>
        <b>Boiling Point:</b> 4409 °C<br>
        <b>Density:</b> 6.52 g/cm³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b> -2,+1,+2,+3,+4<br>
         <b>Specific Heat: </b> 278 J/(kg K)<br>
         <b>Electronegativity:</b> 1.33 (Pauling scale)<br>
         <b>Heat of Fusion:</b> 14 kj/mol<br>
         <b>Heat of Vaporization:</b> 591 kj/mol<br>
        </p> 
     </ion-card-content>

</ion-content>



