<ion-header>
  <ion-toolbar>
    <ion-title>
      Periodic Pioneer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Your other content goes here -->

  <!-- Button to navigate to Hydrogen page -->
  <ion-card (click)="goToHydrogenPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>H</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToHeliumPage()" style="background-color: #FFCF96;">
    <ion-card-content>
      <ion-card-title>He</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToLithiumPage()" style="background-color: #F1B4BB;">
    <ion-card-content>
      <ion-card-title>Li</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToBerylliumPage()" style="background-color: #9D76C1;">
    <ion-card-content>
      <ion-card-title>Be</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToBoronPage()" style="background-color: #79AC78;">
    <ion-card-content>
      <ion-card-title>B</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToCarbonPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>C</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToNitrogenPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>N</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToOxygenPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>O</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToFluorinePage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>F</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToNeonPage()" style="background-color: #FFCF96;">
    <ion-card-content>
      <ion-card-title>Ne</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToSodiumPage()" style="background-color: #F1B4BB;">
    <ion-card-content>
      <ion-card-title>Na</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToMagnesiumPage()" style="background-color: #9D76C1;">
    <ion-card-content>
      <ion-card-title>Mg</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToAluminumPage()" style="background-color: #C1F2B0;">
    <ion-card-content>
      <ion-card-title>Al</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToSiliconPage()" style="background-color: #79AC78;">
    <ion-card-content>
      <ion-card-title>Si</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToPhosphorusPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>P</ion-card-title>
    </ion-card-content>
  </ion-card> 

  <ion-card (click)="goToSulfurPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>S</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToChlorinePage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>Cl</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToArgonPage()" style="background-color: #FFCF96;">
    <ion-card-content>
      <ion-card-title>Ar</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToPotassiumPage()" style="background-color: #F1B4BB;">
    <ion-card-content>
      <ion-card-title>K</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToCalciumPage()" style="background-color: #9D76C1;">
    <ion-card-content>
      <ion-card-title>Ca</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToScandiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Sc</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToTitaniumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Ti</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToVanadiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>V</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToChromiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Cr</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToManganesePage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Mn</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToIronPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Fe</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToCobaltPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Co</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToNickelPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Ni</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToCopperPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Cu</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToZincPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Zn</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToGalliumPage()" style="background-color: #C1F2B0;">
    <ion-card-content>
      <ion-card-title>Ga</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToGermaniumPage()" style="background-color: #79AC78;">
    <ion-card-content>
      <ion-card-title>Ge</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToArsenicPage()" style="background-color: #79AC78;">
    <ion-card-content>
      <ion-card-title>As</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToSeleniumPage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>Se</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToBrominePage()" style="background-color: #FFF5C2;">
    <ion-card-content>
      <ion-card-title>Br</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToKryptonPage()" style="background-color: #FFCF96;">
    <ion-card-content>
      <ion-card-title>Kr</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToRubidiumPage()" style="background-color: #F1B4BB;">
    <ion-card-content>
      <ion-card-title>Rb</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToStrontiumPage()" style="background-color: #9D76C1;">
    <ion-card-content>
      <ion-card-title>Sr</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToYttriumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Y</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToZirconiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Zr</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToNiobiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Nb</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToMolybdenumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Mo</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToTechnetiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Tc</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToRutheniumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Ru</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToRhodiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Rh</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToPalladiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Pd</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToSilverPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Ag</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToCadmiumPage()" style="background-color: #87C4FF;">
    <ion-card-content>
      <ion-card-title>Cd</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToIndiumPage()" style="background-color: #C1F2B0;">
    <ion-card-content>
      <ion-card-title>In</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToTinPage()" style="background-color: #C1F2B0;">
    <ion-card-content>
      <ion-card-title>Sn</ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>


