<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Palladium 
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card style="background-color: #87C4FF;">
    <ion-card-header>

      <ion-row>
        <ion-col size="3">46</ion-col>
        <ion-col size="9" style="text-align: right;"> 106.42</ion-col>
    </ion-row>
    </ion-card-header>

    <ion-card-title>
      <ion-row>
        <ion-col size="3">
          <strong>&nbsp;&nbsp;Pd</strong>
        </ion-col>
      </ion-row>
    </ion-card-title>
  
    <ion-card-content>
      [Kr]4d¹⁰ <br> Palladium  <br> Transition Metal

    </ion-card-content>
  </ion-card>

 
    <ion-card-content style="background-color: transparent;" >
      Palladium is a chemical element; it has symbol Pd and atomic number 46. It is a rare and lustrous silvery-white metal discovered in 1803 by the English chemist William Hyde Wollaston.
    </ion-card-content>

 
    <ion-list lines="none">
      <ion-item>
        <ion-label><b>Atomic number:</b> 46</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic radius:</b> 160 picometers</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Atomic mass:</b> 106.42</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Symbol:</b> Pd</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Group:</b> 10</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Period:</b> 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Electron Configuration:</b> [Kr]4d¹⁰ </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Protons:</b> 46</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Electrons:</b> 46</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Neutrons [in most abundant or naturally occurring isotope]: </b> 60 </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Number of Isotopes:</b> 6</ion-label>
      </ion-item>
    </ion-list>
   <br>
    <ion-card-content style="background-color: #F2F1EB;">
     <ion-card-subtitle><h2><b>Physical Properties</b></h2></ion-card-subtitle>
      <p><b>Melting Point:</b> 1554.8 °C = 2830.6 °F = 1828 K<br>
        <b>Boiling Point:</b> 2963 °C = 5365 °F = 3236 K<br>
        <b>Density:</b> 12.0 g cm⁻³<br>
        <b>Phase at Room Temperature:</b> Solid<br>
      </p> 
    </ion-card-content>
      <br>
    <ion-card-content style="background-color: #EBF3E8;">
      <ion-card-subtitle><h2><b>Chemical Properties</b></h2></ion-card-subtitle>
       <p><b>Oxidation States:</b>	4, 2, 0<br>
        <b>Specific Heat: </b> 240 J/kg*K<br>
        <b>Electronegativity:</b> 2.2 (Pauling scale)<br>
        <b>Heat of Fusion:</b> 16.7 kJ/mol<br>
        <b>Heat of Vaporization:</b> 380 kJ/mol<br>
      </p> 
     </ion-card-content>

</ion-content>



